
body {
    padding: 0;
    margin: 0;
    background-color: rgb(3, 5, 24);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
}

p {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60px;
    padding: 10px 20vw; /* 20 view-width will make site more responsive */
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex; 
    justify-content: space-between; 
    padding: 1rem 2rem; 
    background-image: linear-gradient(#f36a3e, #ffb30b); 
  }
  
  nav ul {
    display: flex; 
    list-style: none; 
  }
  
  nav li {
    padding-left: 1rem; 
  }

  nav a {
    text-decoration: none;
    color: #0d47a1
  } 

  @media only screen and (max-width: 420px) { /*devices 600px and smaller*/
    nav {
      flex-direction: column;
    }
    nav ul {
      flex-direction: column;
      padding-top: 0.02rem;
    }
    nav li {
      padding: 0.02rem 0;
    }
  } 